{% extends "layout.html" %}

{% block content %}
<h1>次の発話者を選んでください</h1>
<textarea rows="4" cols="50">{{ message }}</textarea>
<form action="{{ url_for('decide_speaker') }}" method="POST" enctype="multipart/form-data">
    <button type="submit" name="decide_speaker" value="{{ names.A }}">{{ names.A }}</button>
    <button type="submit" name="decide_speaker" value="{{ names.B }}">{{ names.B }}</button>
    <button type="submit" name="decide_speaker" value="{{ names.C }}">{{ names.C }}</button>
</form>
{% endblock %}